@import "colors";

.services {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $second;
    padding: 4rem;

    .carousel {
        width: 80%;
        height: 99%;
        border-radius: 40px;
    }
}